*{
    margin: 0px;
    padding: 0px;
}

form{
    text-align: center;
}

.forgotInput{
    background-color: transparent;
    color: white;
    height: 25px;
    width: 25%;
    margin-top: 50px;
}
.forgot{
    text-align: center;
}

.submit{
    width: 25%;
    height: 45px;
    background-color: transparent;
    font-family: cursive;
    font-size: 25px;
}